@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Noto+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  scroll-behavior: smooth;
  font-family: 16px;
  text-decoration: none;
  list-style: none;
}
body{
  background-color: #FFFFFF;
}
.container{
  margin-top: 10px;
  margin-left: 1%;
  margin-right: 1%;
  width: 98%;
  box-shadow: 0px 0px 7px 1px rgba(78, 78, 78, 0.44);
}
.img-header{
  width:100%;
}
.titulo{
  font-weight: 300;
  font-family: 'Montserrat';
  font-size: 24px;
  color: #666666;
  margin: 1rem 0;
}
.parrafo{
  color: #666666;
  font-family: 'Noto Sans';
  margin-bottom: 1rem;
}
.link{
  color: #5A90BC;
  font-family: 'Noto Sans';
  font-size: 12px;
  margin-bottom: 1rem;
}
.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 300px;
  /* grid-gap: 0px; */
  /* border: 3px solid tomato; */
}
.imgUser{
  width: 100px;
  margin-left: -18px;
}
.name1{
  padding-top: 2rem;
}
.name1,.name2{
  margin-left: -60px;
  font-size: 12px;
  font-family: 'Noto Sans';
  color: #666666;
}
.grid1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-gap: 0px; */
  /* border: 3px solid rgb(0, 206, 154); */
}
.flex{
  display: flex;
  justify-content: space-between;
  /* border: 3px solid rgb(0, 206, 154); */
}
.container1{
  /* background-color: red; */
  width: 95%;
  margin: 0 auto;
}
.comentarios{
  color: #604731;
  font-family: 'Montserrat';
  font-size: 11px;
  margin-top: 1rem;
  padding-top: 2rem;
}
.comentariosColor{
  background-color: #FFEDDA4C;
}
.paddLeft{
  padding-left: 90px;
  margin-top: -20px;
}
.input{
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #cacaca;
  color: #666666;
  font-family: 'Noto Sans';
  width: 88%;
  height: 30px;
  margin-top: 30px;
  outline: none;
}
.enviar{
  background-color: #FFFFFF;
}
.enviar1{
  background-color: transparent;
}
.enviar,.enviar1{
  outline: none;
  color: none;
  background-color: none;
  border: none;
  cursor: pointer;
}
.corazon{
  -webkit-mask-image: url("./components/img/heart.svg");
  width: 20px;
  height: 18px;
  margin-top: 35px;
  background-color: grey;
}
.corazon1{
  -webkit-mask-image: url("./components/img/heart.svg");
  background-color: red;
  color: red;
  width: 20px;
  height: 18px;
  margin-top: 35px;
  outline: none;
  border-color: transparent;
  cursor: pointer;
}